@media all and (max-width:1680px) {}

@media all and (max-width:1600px) {}

@media all and (max-width:1440px) {}

@media all and (max-width:1400px) {}


@media all and (max-width:1366px) {
    .top-section {
        max-width: 940px;
    }



    .maintitle,
    .pgtitle,
    .counter-box span,
    .tailor-made .sec-heading {
        /* 60 */
        font-size: 48px;
    }



    .sec-heading {
        /* 48 */
        font-size: 40px;
    }

    .supercharge-box .content-box .sec-heading {
        /* 36 */
        font-size: 30px;
    }

    .blogtitle {
        font-size: 28px;
    }

    .sectitle {
        /* 30 */
        font-size: 28px;
        margin-bottom: 64px;
    }

    .logo-icon {
        max-width: 260px;

    }

    .sectitle-reg {
        font-size: 30px;
    }

    .sectitle-reg {
        margin-bottom: 50px;
    }

    .out-of-box-group ul li,
    .filter-group .fil-btn,
    .contact-info .head-detail h6,
    .counter-box h6,
    .counter-box strong,
    .schedules-demo p,
    .client-box .client-detail .name,

    .sub-line .pera P,
    .solution-list p,
    .frosted-glass p,
    .list-style li,
    .pera p,
    .pera li,

    .counter-box h6 {
        font-size: 14px;
    }

}






@media all and (max-width:1280px) {
    .comm-sec-big {
        padding-top: 200px;
    }

    .accordian-section .lr-box,
    .detail-points .lr-box,
    .comm-sec {
        padding-top: 100px;
    }

    .box-group,
    .comm-sec-h {
        padding-top: 60px;
    }


    .container {
        max-width: 1160px;
    }

    .top-section {
        max-width: 900px;
    }

    .aug-voice .cir-1 {
        width: 70px;
        height: 70px;
    }

    .aug-voice .cir-2 {
        width: 75px;
        height: 75px;
    }

    .aug-voice .cir-3 {
        width: 90px;
        height: 90px;
    }

    .aug-voice .cir-4 {
        width: 65px;
        height: 65px;
    }

    .hubspot,

    .privacy-policy h1,
    .privacy-policy h2,
    .privacy-policy h3,
    .privacy-policy h4,
    .privacy-policy h5,
    .privacy-policy h6,
    .accordion-new li a.toggle,
    .form-grid h6,
    .subheading,
    .heading {
        /* 24 */
        font-size: 22px;
    }

    .supercharge-box .pera p {
        font-size: 18px;
    }

    .accordian-title {
        font-size: 26px;
    }

    .hubspot {
        padding: 35px 15px;
    }

    .hubspot h4 {
        margin: 35px auto;
    }



    .supercharge-box .content-box .sec-heading {
        /* 36 */
        font-size: 26px;
    }

    .frosted-glass {
        padding: 15px 8px;

        .img-container {
            width: 68px !important;
            height: 68px !important;
        }
    }

    .frosted-glass .img-container.logos {
        width: 140px !important;
    }

    .solution-list p {
        margin: 12px 0 0 0;
    }

    .tailor-made .img-container {
        width: 515px;
    }

    .pl-70 {
        padding-left: 60px;
    }


    .resources-box .sub-head {
        margin-bottom: 8px;
    }

    .supercharge-box .pera,
    .list-style li,
    .pera p,
    .pera li {
        margin-top: 8px;
    }

    .link {
        padding: 8px 0;
    }



    .supercharge-box {
        padding: 50px 0 86px;
    }

    .play-btn {
        width: 70px;
    }


    .solution-list {
        padding-top: 290px;
    }



    .grid section.f-col:first-child .resources-box .img-container {
        max-width: 680px;
    }

    /*   .filter-group .fil-btn,
    .contact-info .head-detail h6,
    .counter-box h6,
    .counter-box strong,
    .schedules-demo p,
    .client-box .client-detail .name,
    .testi-content h4,
    .frosted-glass p,
    .sub-line .pera P,
    .solution-list p {
        font-size: 16px;
    } */


    .sub-line.pera P {
        font-size: 18px;
    }

    .time-box {
        top: 14px;
    }

    .feature-points-box {
        padding: 10px 0 10px 54px;
    }

    .feature-points-box .shild {
        width: 30px;
        top: 17px;
    }

    .tailor-made .img-container {
        position: relative;
        transform: translate(96%, 0);
    }
}

@media all and (max-width:1200px) {
    .main-frame.top-space {
        padding: 130px 0 0;
    }

    .button span {
        padding: 16px 22px;
        width: 100%;
        text-align: center;
        display: block;
    }

    .supercharge-box .left-anim,
    .supercharge-box .right-anim {
        width: 420px;
    }
}


@media all and (max-width:1152px) {

    .maintitle,
    .pgtitle,
    .counter-box span,
    .tailor-made .sec-heading {
        /* 60 */
        font-size: 42px;
    }

    .sec-heading {
        /* 40 */
        font-size: 36px;
    }

    .tailor-made .content-sec {
        max-width: 475px;
    }


}

@media all and (max-width:1025px) {
    .main-header__in .navigation>ul>li {
        padding: 10px 16px;
    }




    .grid section.f-col:first-child .resources-box .img-container {
        max-width: 600px;
    }

    .detail-points .sidenav {
        margin: auto;
        display: block !important;
    }

    .container {
        max-width: 990px;
    }



}

@media all and (max-width:990px) {


    .tailor-made .content-sec {
        max-width: 480px;
    }

    .main-frame.top-space {
        padding: 130px 0 0;
    }

    /* .video-play-sec.inner-play-sec {
        width: 80%;
    } */

    .play-btn {
        width: 60px;
    }

    .accordian-ct li.active .progress-line {
        height: 95%;
        transition: height 5s linear;
    }

    .contact-info .axis-logo {
        width: 120px;
        height: 120px;
    }

    .contact-info {
        padding: 90px 35px 35px;
        margin-top: 60px;
    }

    .sec-heading {
        font-size: 28px;
    }

    .tailor-made .img-container {
        position: relative;
        transform: translate(79%, 7%);
    }

    /*  .tab,
    .list-style li,
    .pera p,
    .pera li {
        font-size: 16px;
        line-height: 1.5;
    } */


    .resources-box .heading {

        font-size: 19px;
    }

    .privacy-policy .pera p,
    .privacy-policy .pera ol li {
        font-size: 14px !important;
    }

    .resources-box .pera p {

        font-size: 14px;
    }

    .inner-container {
        width: ~'calc(100% - 50px)';
    }


    .container .inner-container {
        width: ~'calc(100% - 0px)';
    }

}

@media all and (max-width:900px) {
    .button span {
        padding: 14px 12px;
    }





    .supercharge-box .content-box .sec-heading {

        font-size: 22px;
    }

    .demo-mail {
        padding: 4px 4px 4px 12px;
    }

    .list-style li {
        padding-left: 22px;
    }


    .list-style li:before {
        padding: 3px;
        top: 9px;
    }

    .main-frame.top-space {
        padding: 115px 0 0;
    }

    .tailor-made .img-container {
        position: relative;
        transform: translate(65%, 7%);
    }

    .testimonial-box {
        border-radius: 30px;
        padding: 12px 40px;
    }

    .contact-info {
        border-radius: 16px;
    }

    .resources-box {
        border-radius: 18px;

        .img-container {
            border-radius: 15px;
        }
    }

    .hubspot,
    .privacy-policy h1,
    .privacy-policy h2,
    .privacy-policy h3,
    .privacy-policy h4,
    .privacy-policy h5,
    .privacy-policy h6,
    .accordion-new li a.toggle,
    .form-grid h6,
    .subheading,
    .heading {
        font-size: 20px;
        line-height: 1.3;

    }

    .hubspot {
        padding: 30px 15px;
    }

    .hubspot h4 {
        margin: 30px auto;
    }

    .accordion-new li a.toggle:before {
        width: 18px;
        height: 18px;
        top: 21px;
        left: 19px;
    }

    .accordion-new .inner,
    .accordion-new li a.toggle {
        padding-left: 30px;
    }

    .supercharge-box .left-anim,
    .supercharge-box .right-anim {
        width: 380px;
    }

    .grid section.f-col:first-child .resources-box .img-container {
        max-width: 510px;
    }

    .sectitle-reg {
        font-size: 26px;
    }

    .comm-accord-sec .w55 {
        display: none;
    }

    .accordian {
        padding: 16px 0 16px 16px;
    }

    .accordian-progress::after {
        top: 9px;
    }

    .accordian-progress {
        top: 9px;
    }

    .active .accordian .accordian-img {
        display: block;
        aspect-ratio: ~'calc( 690/389)';
        border-radius: 24px;
        margin-top: 22px;
        margin-bottom: 18px;
    }

    .client-box .client-img {
        width: 120px;
        height: 120px;
    }

    .feature-points-box {
        padding: 10px 0 10px 54px;
    }

    .feature-points-box .shild {
        width: 25px;
        top: 15px;
    }

    .feature-point-group {
        justify-content: left;
        margin-bottom: 26px;
        padding-top: 35px;
    }

    .mt-01 {
        margin-top: 26px;
    }


    .sectitle-reg {
        margin-bottom: 40px;
    }

    .accordian-title {
        font-size: 24px;
    }


    .accordian-ct li:last-child .accordian-progress::before {
        bottom: -60px;
        height: 89px;
        left: -11px;
    }

    .accordian-ct li:last-child.active .accordian-progress::before {
        bottom: -124px;
        height: 118px;
    }

    .blogtitle {
        font-size: 24px;
    }

    .testi-content h4 {
        font-size: 16px;
    }

    .client-logo{
        padding: 0 5px;
    }
}

@media all and (max-width: 860px) {
    .sub-line.pera P {
        font-size: 16px;

        br {
            display: none;
        }
    }

    .out-of-box-group ul li {
        /*  font-size: 16px; */
        margin-top: 8px;
    }

}

@media all and (max-width: 800px) {

    .accordian-section .lr-box,
    .detail-points .lr-box,
    .comm-sec {
        padding-top: 80px;
    }

    .box-group,
    .comm-sec-h {
        padding-top: 45px;
    }

    .container {
        padding-right: 24px;
        padding-left: 24px;
    }

    .detail-points .sidenav {
        max-width: 100%;
        margin-right: auto;
        /*  margin-bottom: 24px;
        min-height: 430px;
        aspect-ratio: ~'calc( 16 / 8)'; */

        /*  .img-container {
            height: 100%;
        } */

        .img-container img {
            object-fit: contain;
        }
    }

    .aug-voice {
        margin-bottom: 24px !important;
    }
    .single-box  .content-sec,
    .detail-points .lr-box:nth-child(even) .content-sec {
        margin-left: auto;
    }


    .resources-box .resources-detail {
        padding: 14px 16px 8px;
    }

    .tailor-made .img-container {
        position: relative;
        transform: translate(48%, 7%);
        width: 500px;
    }

    .tailor-made .content-sec {
        max-width: 390px;
        width: 95%;
    }

    .frosted-glass p {
        margin: 16px 0 0 0;
    }

    .grid section.f-col:first-child .resources-box .img-container {
        max-width: 420px;
    }

    .detail-points .content-sec {

        max-width: 500px;
        margin: 24px auto 0;
    }

    .frosted-glass .img-container {
        width: 60px;
    }

    .client-logo img { 
        filter: grayscale(0%);
    }

}

@media all and (max-width:768px) {



    .maintitle,
    .pgtitle,
    .counter-box span,
    .tailor-made .sec-heading {
        font-size: 36px;
    }

    .form-grid .form-group .input-textarea,
    .form-grid .form-group .input-text,
    .link,
    .resources-box .sub-head {
        font-size: 14px;
    }

    .sidenav {
        /* border-radius: 36px; */
    }

    .detail-points .sidenav {
        aspect-ratio: ~'calc( 16 / 8)';
        min-height: auto;
        border-radius: 12px;

    }

    .client-box {
        margin: 12px 0 12px 2%;
    }

    .client-box .client-img {
        width: 120px;
        height: 120px;
    }

    /*  .testi-content h4 {
        padding-left: 30px;
    }
 */
    .testi-content img {
        width: 30px;
    }

    .link {
        padding: 6px 0;
    }

    .schedules-demo {
        margin: 25px auto 0;
    }

    .supercharge-box .left-anim,
    .supercharge-box .right-anim {
        width: 350px;
    }

    .grid .resources-box {
        border-radius: 16px;
        margin-bottom: 30px;
    }

    .grid .resources-box .img-container {
        border-radius: 12px;
    }

    .b-radius img,
    .why-skit-img-sec img,
    .com-bg-section {
        border-radius: 16px;
    }


    .contact-info {
        padding: 90px 24px 24px;
        margin-top: 60px;
    }


    .accordian-section .content-sec {
        max-width: 100%;
    }

    .sec-heading {
        font-size: 24px;
    }


    .accordian-title {
        font-size: 20px;
    }


    .accordian-ct li:last-child .accordian-progress::before {
        bottom: -60px;
        height: 82px;
        left: -11px;
    }


    .feature-point-group .f-col:nth-child(even) .feature-points-box:after {
        border-left: 0 dashed #b9bcbe;
    }
    .detail-points .lp-detail .sidenav { 
        max-width: 580px;
    }
    
}

@media all and (max-width:700px) {

    .tailor-made .content-sec {
        position: relative;
    }

    .tailor-made {
        flex-direction: column;

    }

    .tailor-made .img-container {
        max-width: 520px;
        width: 100%;
        margin: 45px auto;
        transform: inherit;
    }

    .solution-list {
        padding-top: 380px;
    }

    .top-section br {
        display: none;
    }

    .why-skit-img-sec {
        /*    aspect-ratio: ~'calc(5 / 3)'; */
    }
}

@media all and (max-width:640px) {
    .sectitle-reg {
        margin-bottom: 36px;
    }

    .platform-list {

        width: 100%;
    }


    .maintitle,
    .pgtitle,
    .counter-box span,
    .tailor-made .sec-heading {
        font-size: 32px;
    }

    .sec-heading {
        font-size: 28px;
    }

    .sidenav {
        /* border-radius: 26px; */
    }

    .accordian-section .lr-box,
    .detail-points .lr-box,
    .comm-sec {
        padding-top: 60px;
    }

    .box-group,
    .comm-sec-h {
        padding-top: 25px;
    }

    .counter-box {
        margin-bottom: 32px;
    }

    .play-btn {
        width: 50px;
    }

    .main-frame.top-space {
        padding: 105px 0 0;
    }

    .sectitle-reg {
        font-size: 22px;
    }

    .blogtitle {
        font-size: 22px;
    }

    .b-radius img,
    .why-skit-img-sec img,
    .active .accordian .accordian-img,
    .com-bg-section {
        border-radius: 12px;
    }

    .contact-info {
        margin-bottom: 24px;
    }


    .tab,
    .list-style li,
    .pera p,
    .pera li {
        /* font-size: 14px; */
        line-height: 1.5;
    }


    .sectitle-reg {
        font-size: 20px;
    }

    .hubspot,
    .privacy-policy h1,
    .privacy-policy h2,
    .privacy-policy h3,
    .privacy-policy h4,
    .privacy-policy h5,
    .privacy-policy h6,
    .accordion-new li a.toggle,
    .form-grid h6,
    .subheading,
    .heading {
        font-size: 18px;
    }

    .hubspot {
        padding: 20px 15px;
    }

    .hubspot h4 {
        margin: 20px auto;
    }

    .supercharge-box .pera p {
        font-size: 16px;
    }

    .detail-points .sidenav {
        aspect-ratio: auto;
    }

    #counter .f-col {
        display: flex;
        justify-content: flex-start;
    }

    .client-logo{
        padding: 0 40px;
    }

   .lp-frame .sectitle { 
        margin-bottom: 34px;
    }
}

@media all and (max-width:600px) {

    .supercharge-box .left-anim,
    .supercharge-box .right-anim {
        width: 59%;
    }

    .tab {
        font-size: 14px;
        line-height: 1.5;
    }

    .feature-point-group .f-col:first-child .feature-points-box:after {
        border-left: 0 dashed #b9bcbe;
    }
}

@media all and (max-width:576px) {
    .resources-box .resources-detail {
        padding: 14px 8px 8px;
    }

    .heading,
    .supercharge-box .pera p {
        font-size: 18px;
        line-height: 1.3;
    }

    .testimonial-box {
        flex-direction: column-reverse;
        padding: 12px 18px;
        border-radius: 16px;

        .testi-content {
            margin-bottom: 8px;
        }
    }

    .client-box .client-img {
        width: 100px;
        height: 100px;
    }

    .frosted-glass p {
        margin: 8px 0 0 0;
    }

    .counter-box strong {

        font-size: 14px;
    }

    .demo-mail .input {
        font-size: 14px;
        padding: 12px 12px 12px 0;
    }

    .filter-group .fil-btn {
        margin: 0 12px;
    }

    .about-mid-sec {
        flex-wrap: wrap;
    }

    .about-mid-sec .pera,
    .about-mid-sec .sectitle {
        width: 100%;
    }

    .about-mid-sec .sectitle {
        margin-bottom: 8px !important;
    }

    .sectitle-reg br {
        display: none;
    }

    .testi-content h4 {
        font-size: 14px;
    }

    .tab {
        font-size: 12px;
        line-height: 1.5;
        padding: 0 6px;
    }

    .frosted-glass .img-container.logos {
        width: 120px !important;
    }

    .client-logo{
        padding: 0 20px;
    }
}

@media all and (max-width:480px) {
    .resources-box {
        margin-bottom: 24px;
        height: ~'calc(100% - 24px)';
    }

    .solution-list {
        padding-top: 358px;
    }

    .maintitle {

        line-height: 1.2;
    }


    .maintitle,
    .pgtitle,
    .counter-box span,
    .tailor-made .sec-heading {
        font-size: 28px;
    }


    .subheading {
        font-size: 18px;
        line-height: 1.3;
    }

    .supercharge-box .pera p {
        font-size: 16px;
    }

    .demo-mail .input {
        max-width: 170px;
    }

    .demo-mail {
        margin: 0 auto 60px;
    }


    .tailor-made .img-container {
        max-width: 410px;
        width: 100%;
        margin: 50px auto;
    }

    .video-play-sec.inner-play-sec {
        clip-path: inset(10% 12% round 8px);
        /* transform: translateY(-150px); */
    }


}

@media all and (max-width:440px) {
    .detail-points .sidenav {
        /*   aspect-ratio: ~'calc( 4 / 3)';
        min-height: auto; */
    }


    .sec-heading {
        font-size: 24px;
    }


    .solution-list {
        padding-top: 345px;
    }

    .button span {
        padding: 13px 10px;
        text-align: center;
        display: block;
        width: 100%;
    }

    header .button {
        margin-right: 12px;
    }

    .demo-mail .button {
        position: absolute;
        top: 133%;
        left: 50%;
        transform: translate(-50%, -0%);
    }

    .demo-mail .input {
        max-width: 100%;
    }

    .demo-mail {
        max-width: 320px;
    }

    .demo-mail .button {
        min-width: 190px;
    }

    .client-logo{
        padding: 0 5px;
    }
}

@media all and (max-width:400px) {
    .filter-group .fil-btn {
        padding: 3px 15px;
        margin: 0 5px;
    }



}

@media all and (max-width:360px) {
    .sec-heading {
        font-size: 24px;
    }

    .demo-mail {
        flex-direction: column;
        align-items: flex-start;
    }

}

@media all and (max-width:320px) {}